RewriteEngine on
RewriteRule start index.php
RewriteRule o-nas o-nas.php
RewriteRule uslugi uslugi.php
RewriteRule platnosci platnosci.php
RewriteRule skargi skargi.php
RewriteRule odwolania odwolania.php
RewriteRule pozwy pozwy.php
RewriteRule media media.php
RewriteRule studium studium.php
RewriteRule praca praca.php
RewriteRule kontakt kontakt.php
RewriteRule polityka-prywatnosci polityka-prywatnosci.php
RewriteRule polityka-cookies polityka-cookies.php
RewriteRule english english.php
RewriteRule about-us about-us.php
RewriteRule services services.php
RewriteRule charges charges.php
RewriteRule complaints complaints.php
