RewriteEngine on
RewriteRule o-nas o-nas.php
RewriteRule uslugi uslugi.php
RewriteRule platnosci platnosci.php
RewriteRule skargi skargi.php
RewriteRule odwolania odwolania.php
RewriteRule pozwy pozwy.php
RewriteRule media media.php
RewriteRule studium studium.php
RewriteRule praca praca.php
RewriteRule kontakt kontakt.php
RewriteRule polityka-prywatnosci polityka-prywatnosci.php
RewriteRule polityka-cookies polityka-cookies.php
RewriteRule en/home en/home.php
RewriteRule en/about-us en/about-us.php
RewriteRule en/services en/services.php
RewriteRule en/charges en/charges.php
RewriteRule en/complaints en/complaints.php
RewriteRule en/appeals en/appeals.php
RewriteRule en/lawsuits en/lawsuits.php
RewriteRule en/press en/press.php
RewriteRule en/study en/study.php
RewriteRule en/job en/job.php
RewriteRule en/contact en/contact.php
RewriteRule en/privacy-policy en/privacy-policy.php
RewriteRule en/cookies-policy en/cookies-policy.php
