### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule start index.html
RewriteRule o-nas o-nas.html
RewriteRule uslugi uslugi.html
RewriteRule platnosci platnosci.html
RewriteRule skargi skargi.html
RewriteRule odwolania odwolania.html
RewriteRule pozwy pozwy.html
RewriteRule media media.html
RewriteRule incydenty incydenty.html
RewriteRule praca praca.html
RewriteRule kontakt kontakt.html
RewriteRule polityka-prywatnosci polityka-prywatnosci.html
RewriteRule polityka-cookies polityka-cookies.html
