/* big screens */
@media screen and (min-width: 1100px)
{
    #h1bg
    {
        height: 200px;
        min-width: 600px;
    }
    h1
    {
        width: 550px;
        top: 75px;
        font-size: 65px;
    }
    nav
    {
        height: 40px;
        justify-content: center;
        align-items: flex-end;
    }
    .navButton
    {
        width: 90px;
        border: 1px solid rgb(0, 80, 19);
        border-bottom: transparent;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 5px;
        display: flex;
        justify-content: center;
        color: yellow;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 2px;
        margin-right: 2px;
    }
    .navButton:hover, #activeNavButton
    {
        color: darkgreen;
        background-image: url("img/brushed.png");
    }
    #mobileNavButton, #menu{display: none;}
    a{text-decoration: none;}
    main
    {
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #intro
    {
        width: 1100px;
        height: 510px;
        display: flex;
    }
    #introContent
    {
        width: 50%;
        margin-left: 10px;
        
    }
    #introList
    {
        margin-top: 50px;
        line-height: 250%;
        list-style-image: url('img/ticket.png');
    }
    #slider
    {
        width: 50%;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-right: 10px;
        display: flex;
        justify-content: flex-end;
    }
    h2
    {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: yellow;
    }
}    

/* mobile */
@media screen and (max-width: 1100px)
{
    #h1bg
    {
        height: 130px;
        max-width: 440px;
    }
    h1
    {
        width: 70%;
        top: 55px;
        font-size: 38px;
    }
    nav
    {
        height: 30px;
        justify-content: center;
    }
    nav #mobileNavButton
    {
        display: flex;
    }
    .navButton{display: none;}
    .dropbtn 
    {
        width: 150px;
        border: 1px solid rgb(0, 80, 19);
        border-bottom: transparent;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 2px;
        display: flex;
        justify-content: center;
        color: green;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 2px;
        margin-right: 2px;
        background-image: url("img/brushed.png");
        display: flex;
        justify-content: space-around;
    }
    #mobileNavButton
    {
        position: relative;
        display: inline-block;
    }
    .dropdown-content 
    {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a 
    {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover {background-color: #ddd;}
    #mobileNavButton:hover .dropdown-content {display: block;}
    #mobileNavButton:hover .dropbtn {background-color: #3e8e41;} 

    #slider
    {
        max-width: 440px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
    }
}

/* generally */
body
{
    margin: 0 !important;
    background-image: url("img/brushed.png");
    font-size: 18px;
}
header
{
    display: flex;
    justify-content: center;
}
h1
{
    text-align: center;
    color: yellow;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
}
nav
{ 
    background-color: darkgreen;
    position: sticky;
    top: 0px;
    display: flex;
    z-index: 1;
}

























#aboutUs
{
    margin-top: 50px;
}
#characterList
{
    margin-top: 50px;
    line-height: 250%;
    list-style-image: url('img/conductor.png');
}





