@media screen and (max-width: 1250px)
{
    body
    {
        width: 1250px;
    }
}    
@media screen and (min-width: 1251px)
{
    body
    {
        width: 100%;
    }
}
body
{
    margin: 0 !important;
    background-image: url("img/brushed.png");
    font-size: 18px;
}
header
{
    height: 200px;
    display: flex;
    justify-content: center;
}
#h1bg
{
    height: 200px;
    min-width: 600px;
}
h1
{
    width: 550px;
    position: absolute;
    top: 75px;
    text-align: center;
    color: yellow;
    font-size: 65px;
    font-family: 'Courier New', Courier, monospace;
}
nav
{
    height: 40px;
    background-color: darkgreen;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
}
#activeNavButton
{
    width: 110px;
    background-color: white;
    border: 1px solid rgb(0, 80, 19);
    border-bottom: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    color: darkgreen;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("img/brushed.png");
    margin-left: 2px;
    margin-right: 2px;
}
.inactiveNavButton
{
    width: 110px;
    border: 1px solid rgb(0, 80, 19);
    border-bottom: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    color: yellow;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2px;
    margin-right: 2px;
}
.inactiveNavButton:hover
{
    color: darkgreen;
    background-image: url("img/brushed.png");
}
a
{
    text-decoration: none;
}
main
{
    margin-top: 60px;
    width: 1250px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}
#intro
{
    height: 400px;
    display: flex;
    justify-content: center;
    text-align: justify;
}
#introContent
{
    width: 50%;
}
ul
{
    margin-top: 50px;
    line-height: 250%;
    list-style-image: url('img/ticket.png');
}