RewriteEngine on
RewriteRule zaloguj zaloguj.php
RewriteRule kontakty kontakty.php
RewriteRule aktualnosci aktualnosci.php
RewriteRule grafik grafik.php
RewriteRule crud/create-schedule crud/create-schedule.php
