
.icon-ok:before { content: '\e800'; } /* '' */
.icon-exclamation:before { content: '\e801'; } /* '' */
.icon-award:before { content: '\e802'; } /* '' */
.icon-person:before { content: '\e803'; } /* '' */
.icon-adult:before { content: '\e804'; } /* '' */
.icon-left-hand:before { content: '\e805'; } /* '' */
.icon-right-outline:before { content: '\e806'; } /* '' */
.icon-menu-outline:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\e808'; } /* '' */
.icon-right-hand:before { content: '\e809'; } /* '' */
.icon-police:before { content: '\e82b'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-train:before { content: '\f238'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */