nav {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
}
nav h2{
    margin: 0px 20px 0px 20px;
}
.error{
    color: red;
}
#news textarea {
    resize: vertical;
    width: 100%;
}
td {
    padding: 10px;
}
#schedule textarea, table textarea {
    resize: vertical;
}
th {
    background-color: black;
    color: white;
}
th {
    min-width: 100px;
    padding: 5px;
}
.hours td:nth-of-type(odd) {
    border-right: 1px dashed gray;
}
.hours td:nth-of-type(even) {
    border-left: 1px dashed gray;
}

.teams td:nth-of-type(even) {
    border-right: 1px dashed gray;
}
.teams td:nth-of-type(2n+3) {
    border-left: 1px dashed gray;
}
.teams:nth-of-type(odd) {
    background-color: rgba(128, 128, 128, 0.5);
}